In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('./data/fred_data.csv')

In [11]:
df.head()

,DATE,A067RL1Q156SBEA,A067RL1Q156SBEA_CCA,A067RL1Q156SBEA_CCH,A067RL1Q156SBEA_CH1,A067RL1Q156SBEA_CHG,A067RL1Q156SBEA_LOG,A067RL1Q156SBEA_PC1,A067RL1Q156SBEA_PCA,A067RL1Q156SBEA_PCH,...,PCEC_PCH,TDSP,TDSP_CCA,TDSP_CCH,TDSP_CH1,TDSP_CHG,TDSP_LOG,TDSP_PC1,TDSP_PCA,TDSP_PCH
0,1947-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1947-04-01,-3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1947-07-01,11.1,NaN,NaN,NaN,14.9,2.4,NaN,7180.4,-392.1,...,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1947-10-01,-5.5,NaN,NaN,NaN,-16.6,NaN,NaN,-94.0,-149.5,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1948-01-01,7.7,NaN,NaN,NaN,13.2,2.0,NaN,284.2,-240.0,...,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Clean data
df_rename = df.rename({'DATE':'quarter'}, axis=1)
df_rename.head()

,quarter,A067RL1Q156SBEA,A067RL1Q156SBEA_CCA,A067RL1Q156SBEA_CCH,A067RL1Q156SBEA_CH1,A067RL1Q156SBEA_CHG,A067RL1Q156SBEA_LOG,A067RL1Q156SBEA_PC1,A067RL1Q156SBEA_PCA,A067RL1Q156SBEA_PCH,...,PCEC_PCH,TDSP,TDSP_CCA,TDSP_CCH,TDSP_CH1,TDSP_CHG,TDSP_LOG,TDSP_PC1,TDSP_PCA,TDSP_PCH
0,1947-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1947-04-01,-3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1947-07-01,11.1,NaN,NaN,NaN,14.9,2.4,NaN,7180.4,-392.1,...,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1947-10-01,-5.5,NaN,NaN,NaN,-16.6,NaN,NaN,-94.0,-149.5,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1948-01-01,7.7,NaN,NaN,NaN,13.2,2.0,NaN,284.2,-240.0,...,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Update values in 'quarter' column to have the format: YYYYQ1-4. Example: 1970Q1

def map_quarter(s):
    quarter = ''
    month = s.split('-')[1]
    year = s.split('-')[0]
    
    if month == '01':
        quarter = '1'
    elif month == '04':
        quarter = '2'
    elif month == '07':
        quarter = '3'
    elif month == '10':
        quarter = '4'
        
    x = year + 'Q' + month
    
    return x

df_rename['quarter'] = df_rename['quarter'].apply(map_quarter)
df_rename.head()

,quarter,A067RL1Q156SBEA,A067RL1Q156SBEA_CCA,A067RL1Q156SBEA_CCH,A067RL1Q156SBEA_CH1,A067RL1Q156SBEA_CHG,A067RL1Q156SBEA_LOG,A067RL1Q156SBEA_PC1,A067RL1Q156SBEA_PCA,A067RL1Q156SBEA_PCH,...,PCEC_PCH,TDSP,TDSP_CCA,TDSP_CCH,TDSP_CH1,TDSP_CHG,TDSP_LOG,TDSP_PC1,TDSP_PCA,TDSP_PCH
0,1947Q01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1947Q04,-3.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1947Q07,11.1,NaN,NaN,NaN,14.9,2.4,NaN,7180.4,-392.1,...,2.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1947Q10,-5.5,NaN,NaN,NaN,-16.6,NaN,NaN,-94.0,-149.5,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1948Q01,7.7,NaN,NaN,NaN,13.2,2.0,NaN,284.2,-240.0,...,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_rename.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 100 columns):
quarter                332 non-null object
A067RL1Q156SBEA        289 non-null float64
A067RL1Q156SBEA_CCA    218 non-null float64
A067RL1Q156SBEA_CCH    218 non-null float64
A067RL1Q156SBEA_CH1    285 non-null float64
A067RL1Q156SBEA_CHG    288 non-null float64
A067RL1Q156SBEA_LOG    250 non-null float64
A067RL1Q156SBEA_PC1    285 non-null float64
A067RL1Q156SBEA_PCA    288 non-null float64
A067RL1Q156SBEA_PCH    288 non-null float64
BPCCRO1Q156NBEA        238 non-null float64
BPCCRO1Q156NBEA_CCA    237 non-null float64
BPCCRO1Q156NBEA_CCH    237 non-null float64
BPCCRO1Q156NBEA_CH1    234 non-null float64
BPCCRO1Q156NBEA_CHG    237 non-null float64
BPCCRO1Q156NBEA_LOG    238 non-null float64
BPCCRO1Q156NBEA_PC1    234 non-null float64
BPCCRO1Q156NBEA_PCA    237 non-null float64
BPCCRO1Q156NBEA_PCH    237 non-null float64
CPALTT01USQ659N        238 non-null float64
CPALTT01USQ659N_CCA    230 non-null float64
CPALTT01USQ659N_CCH    230 non-null float64
CPALTT01USQ659N_CH1    234 non-null float64
CPALTT01USQ659N_CHG    237 non-null float64
CPALTT01USQ659N_LOG    233 non-null float64
CPALTT01USQ659N_PC1    234 non-null float64
CPALTT01USQ659N_PCA    237 non-null float64
CPALTT01USQ659N_PCH    237 non-null float64
DPCERO1Q156NBEA        286 non-null float64
DPCERO1Q156NBEA_CCA    261 non-null float64
DPCERO1Q156NBEA_CCH    261 non-null float64
DPCERO1Q156NBEA_CH1    282 non-null float64
DPCERO1Q156NBEA_CHG    285 non-null float64
DPCERO1Q156NBEA_LOG    269 non-null float64
DPCERO1Q156NBEA_PC1    281 non-null float64
DPCERO1Q156NBEA_PCA    284 non-null float64
DPCERO1Q156NBEA_PCH    284 non-null float64
GFDEGDQ188S            214 non-null float64
GFDEGDQ188S_CCA        213 non-null float64
GFDEGDQ188S_CCH        213 non-null float64
GFDEGDQ188S_CH1        210 non-null float64
GFDEGDQ188S_CHG        213 non-null float64
GFDEGDQ188S_LOG        214 non-null float64
GFDEGDQ188S_PC1        210 non-null float64
GFDEGDQ188S_PCA        213 non-null float64
GFDEGDQ188S_PCH        213 non-null float64
GPDI                   290 non-null float64
GPDI_CCA               289 non-null float64
GPDI_CCH               289 non-null float64
GPDI_CH1               286 non-null float64
GPDI_CHG               289 non-null float64
GPDI_LOG               290 non-null float64
GPDI_PC1               286 non-null float64
GPDI_PCA               289 non-null float64
GPDI_PCH               289 non-null float64
M2V                    242 non-null float64
M2V_CCA                241 non-null float64
M2V_CCH                241 non-null float64
M2V_CH1                238 non-null float64
M2V_CHG                241 non-null float64
M2V_LOG                242 non-null float64
M2V_PC1                238 non-null float64
M2V_PCA                241 non-null float64
M2V_PCH                241 non-null float64
MSPUS                  227 non-null float64
MSPUS_CCA              226 non-null float64
MSPUS_CCH              226 non-null float64
MSPUS_CH1              223 non-null float64
MSPUS_CHG              226 non-null float64
MSPUS_LOG              227 non-null float64
MSPUS_PC1              223 non-null float64
MSPUS_PCA              226 non-null float64
MSPUS_PCH              226 non-null float64
NROU                   324 non-null float64
NROU_CCA               323 non-null float64
NROU_CCH               323 non-null float64
NROU_CH1               320 non-null float64
NROU_CHG               323 non-null float64
NROU_LOG               324 non-null float64
NROU_PC1               320 non-null float64
NROU_PCA               323 non-null float64
NROU_PCH               323 non-null float64
PCEC                   290 non-null float64
PCEC_CCA               289 non-null float64
PCEC_CCH               289 non-null float64
PCEC_CH1               286 non-null float64
PCEC_CHG               289 non-null float64
PCEC_LOG               290 non-null float64
PCEC_PC1               286 non-null float64
PCEC_PCA               289 non-null float64
PCEC_PCH               289 non-null float64
TDSP                   158 non-null float64
TDSP_CCA               157 non-null float64
TDSP_CCH               157 non-null float64
TDSP_CH1               154 non-null float64
TDSP_CHG               157 non-null float64
TDSP_LOG               158 non-null float64
TDSP_PC1               154 non-null float64
TDSP_PCA               157 non-null float64
TDSP_PCH               157 non-null float64
dtypes: float64(99), object(1)
memory usage: 259.5+ KB